{% extends "layout.html" %}
{% block body %}
  <form action="" method="post" name="post">
    {{form.hidden_tag()}}
    <table>
        <tr>
            <td>Say something:</td>
            <td>{{ form.post(size = 30, maxlength = 140) }}</td>
            <td>
            {% for error in form.errors.post %}
            <span style="color: red;">[{{error}}]</span><br>
            {% endfor %}
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Post!"></td>
            <td></td>
        </tr>
    </table>
</form>
  <ul class="entries">
      <li><img src="{{user.avatar(128)}}" /></li>
      {% for post in posts  %}
        {% include 'post.html'  %}
      {% endfor %}
  </ul>

    {% if posts.has_prev %}<a href="{{ url_for('show_entries', page = posts.prev_num) }}">&#60;&#60; Newer posts</a>{% else %}&#60;&#60; Newer posts{% endif %} |
{% if posts.has_next %}<a href="{{ url_for('show_entries', page = posts.next_num) }}">Older posts >></a>{% else %}Older posts &#62;&#62;{% endif %}
{% endblock %}
